@font-face {
  font-family: 'Helvetica';
  src: url("./../font/Helvetica.ttf");
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url("./../font/HelveticaNeue.ttf");
}

.main-text, .main-font, .greeting-text, ._navbar-custom .navbar-brand, ._navbar-custom .navbar-nav .nav-item a.nav-link, ._btn-primary {
  font-family: 'Helvetica', sans-serif !important;
}

.secondary-font, .__body-section-about, .__container-education .__main-education-content .__about-list-items .__about-items .__items-content {
  font-family: 'Montserrat', sans-serif;
}

.greeting-text {
  font-size: 25px;
  font-weight: 400;
}

.greeting-text span {
  color: #50ccc8;
}

.text-1 {
  font-size: 1px;
}

.text-2 {
  font-size: 2px;
}

.text-3 {
  font-size: 3px;
}

.text-4 {
  font-size: 4px;
}

.text-5 {
  font-size: 5px;
}

.text-6 {
  font-size: 6px;
}

.text-7 {
  font-size: 7px;
}

.text-8 {
  font-size: 8px;
}

.text-9 {
  font-size: 9px;
}

.text-10 {
  font-size: 10px;
}

.text-11 {
  font-size: 11px;
}

.text-12 {
  font-size: 12px;
}

.text-13 {
  font-size: 13px;
}

.text-14 {
  font-size: 14px;
}

.text-15 {
  font-size: 15px;
}

.text-16 {
  font-size: 16px;
}

.text-17 {
  font-size: 17px;
}

.text-18 {
  font-size: 18px;
}

.text-19 {
  font-size: 19px;
}

.text-20 {
  font-size: 20px;
}

.text-21 {
  font-size: 21px;
}

.text-22 {
  font-size: 22px;
}

.text-23 {
  font-size: 23px;
}

.text-24 {
  font-size: 24px;
}

.text-25 {
  font-size: 25px;
}

.text-26 {
  font-size: 26px;
}

.text-27 {
  font-size: 27px;
}

.text-28 {
  font-size: 28px;
}

.text-29 {
  font-size: 29px;
}

.text-30 {
  font-size: 30px;
}

.text-31 {
  font-size: 31px;
}

.text-32 {
  font-size: 32px;
}

.text-33 {
  font-size: 33px;
}

.text-34 {
  font-size: 34px;
}

.text-35 {
  font-size: 35px;
}

.text-36 {
  font-size: 36px;
}

.text-37 {
  font-size: 37px;
}

.text-38 {
  font-size: 38px;
}

.text-39 {
  font-size: 39px;
}

.text-40 {
  font-size: 40px;
}

.text-41 {
  font-size: 41px;
}

.text-42 {
  font-size: 42px;
}

.text-43 {
  font-size: 43px;
}

.text-44 {
  font-size: 44px;
}

.text-45 {
  font-size: 45px;
}

.text-46 {
  font-size: 46px;
}

.text-47 {
  font-size: 47px;
}

.text-48 {
  font-size: 48px;
}

.text-49 {
  font-size: 49px;
}

.text-50 {
  font-size: 50px;
}

.text-51 {
  font-size: 51px;
}

.text-52 {
  font-size: 52px;
}

.text-53 {
  font-size: 53px;
}

.text-54 {
  font-size: 54px;
}

.text-55 {
  font-size: 55px;
}

.text-56 {
  font-size: 56px;
}

.text-57 {
  font-size: 57px;
}

.text-58 {
  font-size: 58px;
}

.text-59 {
  font-size: 59px;
}

.text-60 {
  font-size: 60px;
}

.text-61 {
  font-size: 61px;
}

.text-62 {
  font-size: 62px;
}

.text-63 {
  font-size: 63px;
}

.text-64 {
  font-size: 64px;
}

.text-65 {
  font-size: 65px;
}

.text-66 {
  font-size: 66px;
}

.text-67 {
  font-size: 67px;
}

.text-68 {
  font-size: 68px;
}

.text-69 {
  font-size: 69px;
}

.text-70 {
  font-size: 70px;
}

.text-71 {
  font-size: 71px;
}

.text-72 {
  font-size: 72px;
}

.text-73 {
  font-size: 73px;
}

.text-74 {
  font-size: 74px;
}

.text-75 {
  font-size: 75px;
}

.text-76 {
  font-size: 76px;
}

.text-77 {
  font-size: 77px;
}

.text-78 {
  font-size: 78px;
}

.text-79 {
  font-size: 79px;
}

.text-80 {
  font-size: 80px;
}

.text-81 {
  font-size: 81px;
}

.text-82 {
  font-size: 82px;
}

.text-83 {
  font-size: 83px;
}

.text-84 {
  font-size: 84px;
}

.text-85 {
  font-size: 85px;
}

.text-86 {
  font-size: 86px;
}

.text-87 {
  font-size: 87px;
}

.text-88 {
  font-size: 88px;
}

.text-89 {
  font-size: 89px;
}

.text-90 {
  font-size: 90px;
}

.text-91 {
  font-size: 91px;
}

.text-92 {
  font-size: 92px;
}

.text-93 {
  font-size: 93px;
}

.text-94 {
  font-size: 94px;
}

.text-95 {
  font-size: 95px;
}

.text-96 {
  font-size: 96px;
}

.text-97 {
  font-size: 97px;
}

.text-98 {
  font-size: 98px;
}

.text-99 {
  font-size: 99px;
}

.text-100 {
  font-size: 100px;
}

.font-100 {
  font-weight: 100;
}

.font-200 {
  font-weight: 200;
}

.font-300 {
  font-weight: 300;
}

.font-400 {
  font-weight: 400;
}

.font-500 {
  font-weight: 500;
}

.font-600 {
  font-weight: 600;
}

.font-700 {
  font-weight: 700;
}

.font-800 {
  font-weight: 800;
}

.font-black {
  color: #383838;
}

.font-yellow {
  color: #f7f72f;
}

.font-aqua {
  color: #50ccc8;
}

.font-white {
  color: #ffffff;
}

.mb-1 {
  margin-bottom: 1px;
}

.mt-1 {
  margin-top: 1px;
}

.ml-1 {
  margin-left: 1px;
}

.mr-1 {
  margin-right: 1px;
}

.mb-2 {
  margin-bottom: 2px;
}

.mt-2 {
  margin-top: 2px;
}

.ml-2 {
  margin-left: 2px;
}

.mr-2 {
  margin-right: 2px;
}

.mb-3 {
  margin-bottom: 3px;
}

.mt-3 {
  margin-top: 3px;
}

.ml-3 {
  margin-left: 3px;
}

.mr-3 {
  margin-right: 3px;
}

.mb-4 {
  margin-bottom: 4px;
}

.mt-4 {
  margin-top: 4px;
}

.ml-4 {
  margin-left: 4px;
}

.mr-4 {
  margin-right: 4px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mt-5 {
  margin-top: 5px;
}

.ml-5 {
  margin-left: 5px;
}

.mr-5 {
  margin-right: 5px;
}

.mb-6 {
  margin-bottom: 6px;
}

.mt-6 {
  margin-top: 6px;
}

.ml-6 {
  margin-left: 6px;
}

.mr-6 {
  margin-right: 6px;
}

.mb-7 {
  margin-bottom: 7px;
}

.mt-7 {
  margin-top: 7px;
}

.ml-7 {
  margin-left: 7px;
}

.mr-7 {
  margin-right: 7px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mt-8 {
  margin-top: 8px;
}

.ml-8 {
  margin-left: 8px;
}

.mr-8 {
  margin-right: 8px;
}

.mb-9 {
  margin-bottom: 9px;
}

.mt-9 {
  margin-top: 9px;
}

.ml-9 {
  margin-left: 9px;
}

.mr-9 {
  margin-right: 9px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.mb-11 {
  margin-bottom: 11px;
}

.mt-11 {
  margin-top: 11px;
}

.ml-11 {
  margin-left: 11px;
}

.mr-11 {
  margin-right: 11px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mt-12 {
  margin-top: 12px;
}

.ml-12 {
  margin-left: 12px;
}

.mr-12 {
  margin-right: 12px;
}

.mb-13 {
  margin-bottom: 13px;
}

.mt-13 {
  margin-top: 13px;
}

.ml-13 {
  margin-left: 13px;
}

.mr-13 {
  margin-right: 13px;
}

.mb-14 {
  margin-bottom: 14px;
}

.mt-14 {
  margin-top: 14px;
}

.ml-14 {
  margin-left: 14px;
}

.mr-14 {
  margin-right: 14px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mt-15 {
  margin-top: 15px;
}

.ml-15 {
  margin-left: 15px;
}

.mr-15 {
  margin-right: 15px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mt-16 {
  margin-top: 16px;
}

.ml-16 {
  margin-left: 16px;
}

.mr-16 {
  margin-right: 16px;
}

.mb-17 {
  margin-bottom: 17px;
}

.mt-17 {
  margin-top: 17px;
}

.ml-17 {
  margin-left: 17px;
}

.mr-17 {
  margin-right: 17px;
}

.mb-18 {
  margin-bottom: 18px;
}

.mt-18 {
  margin-top: 18px;
}

.ml-18 {
  margin-left: 18px;
}

.mr-18 {
  margin-right: 18px;
}

.mb-19 {
  margin-bottom: 19px;
}

.mt-19 {
  margin-top: 19px;
}

.ml-19 {
  margin-left: 19px;
}

.mr-19 {
  margin-right: 19px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.mb-21 {
  margin-bottom: 21px;
}

.mt-21 {
  margin-top: 21px;
}

.ml-21 {
  margin-left: 21px;
}

.mr-21 {
  margin-right: 21px;
}

.mb-22 {
  margin-bottom: 22px;
}

.mt-22 {
  margin-top: 22px;
}

.ml-22 {
  margin-left: 22px;
}

.mr-22 {
  margin-right: 22px;
}

.mb-23 {
  margin-bottom: 23px;
}

.mt-23 {
  margin-top: 23px;
}

.ml-23 {
  margin-left: 23px;
}

.mr-23 {
  margin-right: 23px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mt-24 {
  margin-top: 24px;
}

.ml-24 {
  margin-left: 24px;
}

.mr-24 {
  margin-right: 24px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mt-25 {
  margin-top: 25px;
}

.ml-25 {
  margin-left: 25px;
}

.mr-25 {
  margin-right: 25px;
}

.mb-26 {
  margin-bottom: 26px;
}

.mt-26 {
  margin-top: 26px;
}

.ml-26 {
  margin-left: 26px;
}

.mr-26 {
  margin-right: 26px;
}

.mb-27 {
  margin-bottom: 27px;
}

.mt-27 {
  margin-top: 27px;
}

.ml-27 {
  margin-left: 27px;
}

.mr-27 {
  margin-right: 27px;
}

.mb-28 {
  margin-bottom: 28px;
}

.mt-28 {
  margin-top: 28px;
}

.ml-28 {
  margin-left: 28px;
}

.mr-28 {
  margin-right: 28px;
}

.mb-29 {
  margin-bottom: 29px;
}

.mt-29 {
  margin-top: 29px;
}

.ml-29 {
  margin-left: 29px;
}

.mr-29 {
  margin-right: 29px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.ml-30 {
  margin-left: 30px;
}

.mr-30 {
  margin-right: 30px;
}

.mb-31 {
  margin-bottom: 31px;
}

.mt-31 {
  margin-top: 31px;
}

.ml-31 {
  margin-left: 31px;
}

.mr-31 {
  margin-right: 31px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mt-32 {
  margin-top: 32px;
}

.ml-32 {
  margin-left: 32px;
}

.mr-32 {
  margin-right: 32px;
}

.mb-33 {
  margin-bottom: 33px;
}

.mt-33 {
  margin-top: 33px;
}

.ml-33 {
  margin-left: 33px;
}

.mr-33 {
  margin-right: 33px;
}

.mb-34 {
  margin-bottom: 34px;
}

.mt-34 {
  margin-top: 34px;
}

.ml-34 {
  margin-left: 34px;
}

.mr-34 {
  margin-right: 34px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mt-35 {
  margin-top: 35px;
}

.ml-35 {
  margin-left: 35px;
}

.mr-35 {
  margin-right: 35px;
}

.mb-36 {
  margin-bottom: 36px;
}

.mt-36 {
  margin-top: 36px;
}

.ml-36 {
  margin-left: 36px;
}

.mr-36 {
  margin-right: 36px;
}

.mb-37 {
  margin-bottom: 37px;
}

.mt-37 {
  margin-top: 37px;
}

.ml-37 {
  margin-left: 37px;
}

.mr-37 {
  margin-right: 37px;
}

.mb-38 {
  margin-bottom: 38px;
}

.mt-38 {
  margin-top: 38px;
}

.ml-38 {
  margin-left: 38px;
}

.mr-38 {
  margin-right: 38px;
}

.mb-39 {
  margin-bottom: 39px;
}

.mt-39 {
  margin-top: 39px;
}

.ml-39 {
  margin-left: 39px;
}

.mr-39 {
  margin-right: 39px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mt-40 {
  margin-top: 40px;
}

.ml-40 {
  margin-left: 40px;
}

.mr-40 {
  margin-right: 40px;
}

.mb-41 {
  margin-bottom: 41px;
}

.mt-41 {
  margin-top: 41px;
}

.ml-41 {
  margin-left: 41px;
}

.mr-41 {
  margin-right: 41px;
}

.mb-42 {
  margin-bottom: 42px;
}

.mt-42 {
  margin-top: 42px;
}

.ml-42 {
  margin-left: 42px;
}

.mr-42 {
  margin-right: 42px;
}

.mb-43 {
  margin-bottom: 43px;
}

.mt-43 {
  margin-top: 43px;
}

.ml-43 {
  margin-left: 43px;
}

.mr-43 {
  margin-right: 43px;
}

.mb-44 {
  margin-bottom: 44px;
}

.mt-44 {
  margin-top: 44px;
}

.ml-44 {
  margin-left: 44px;
}

.mr-44 {
  margin-right: 44px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mt-45 {
  margin-top: 45px;
}

.ml-45 {
  margin-left: 45px;
}

.mr-45 {
  margin-right: 45px;
}

.mb-46 {
  margin-bottom: 46px;
}

.mt-46 {
  margin-top: 46px;
}

.ml-46 {
  margin-left: 46px;
}

.mr-46 {
  margin-right: 46px;
}

.mb-47 {
  margin-bottom: 47px;
}

.mt-47 {
  margin-top: 47px;
}

.ml-47 {
  margin-left: 47px;
}

.mr-47 {
  margin-right: 47px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mt-48 {
  margin-top: 48px;
}

.ml-48 {
  margin-left: 48px;
}

.mr-48 {
  margin-right: 48px;
}

.mb-49 {
  margin-bottom: 49px;
}

.mt-49 {
  margin-top: 49px;
}

.ml-49 {
  margin-left: 49px;
}

.mr-49 {
  margin-right: 49px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mt-50 {
  margin-top: 50px;
}

.ml-50 {
  margin-left: 50px;
}

.mr-50 {
  margin-right: 50px;
}

.mb-51 {
  margin-bottom: 51px;
}

.mt-51 {
  margin-top: 51px;
}

.ml-51 {
  margin-left: 51px;
}

.mr-51 {
  margin-right: 51px;
}

.mb-52 {
  margin-bottom: 52px;
}

.mt-52 {
  margin-top: 52px;
}

.ml-52 {
  margin-left: 52px;
}

.mr-52 {
  margin-right: 52px;
}

.mb-53 {
  margin-bottom: 53px;
}

.mt-53 {
  margin-top: 53px;
}

.ml-53 {
  margin-left: 53px;
}

.mr-53 {
  margin-right: 53px;
}

.mb-54 {
  margin-bottom: 54px;
}

.mt-54 {
  margin-top: 54px;
}

.ml-54 {
  margin-left: 54px;
}

.mr-54 {
  margin-right: 54px;
}

.mb-55 {
  margin-bottom: 55px;
}

.mt-55 {
  margin-top: 55px;
}

.ml-55 {
  margin-left: 55px;
}

.mr-55 {
  margin-right: 55px;
}

.mb-56 {
  margin-bottom: 56px;
}

.mt-56 {
  margin-top: 56px;
}

.ml-56 {
  margin-left: 56px;
}

.mr-56 {
  margin-right: 56px;
}

.mb-57 {
  margin-bottom: 57px;
}

.mt-57 {
  margin-top: 57px;
}

.ml-57 {
  margin-left: 57px;
}

.mr-57 {
  margin-right: 57px;
}

.mb-58 {
  margin-bottom: 58px;
}

.mt-58 {
  margin-top: 58px;
}

.ml-58 {
  margin-left: 58px;
}

.mr-58 {
  margin-right: 58px;
}

.mb-59 {
  margin-bottom: 59px;
}

.mt-59 {
  margin-top: 59px;
}

.ml-59 {
  margin-left: 59px;
}

.mr-59 {
  margin-right: 59px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mt-60 {
  margin-top: 60px;
}

.ml-60 {
  margin-left: 60px;
}

.mr-60 {
  margin-right: 60px;
}

.mb-61 {
  margin-bottom: 61px;
}

.mt-61 {
  margin-top: 61px;
}

.ml-61 {
  margin-left: 61px;
}

.mr-61 {
  margin-right: 61px;
}

.mb-62 {
  margin-bottom: 62px;
}

.mt-62 {
  margin-top: 62px;
}

.ml-62 {
  margin-left: 62px;
}

.mr-62 {
  margin-right: 62px;
}

.mb-63 {
  margin-bottom: 63px;
}

.mt-63 {
  margin-top: 63px;
}

.ml-63 {
  margin-left: 63px;
}

.mr-63 {
  margin-right: 63px;
}

.mb-64 {
  margin-bottom: 64px;
}

.mt-64 {
  margin-top: 64px;
}

.ml-64 {
  margin-left: 64px;
}

.mr-64 {
  margin-right: 64px;
}

.mb-65 {
  margin-bottom: 65px;
}

.mt-65 {
  margin-top: 65px;
}

.ml-65 {
  margin-left: 65px;
}

.mr-65 {
  margin-right: 65px;
}

.mb-66 {
  margin-bottom: 66px;
}

.mt-66 {
  margin-top: 66px;
}

.ml-66 {
  margin-left: 66px;
}

.mr-66 {
  margin-right: 66px;
}

.mb-67 {
  margin-bottom: 67px;
}

.mt-67 {
  margin-top: 67px;
}

.ml-67 {
  margin-left: 67px;
}

.mr-67 {
  margin-right: 67px;
}

.mb-68 {
  margin-bottom: 68px;
}

.mt-68 {
  margin-top: 68px;
}

.ml-68 {
  margin-left: 68px;
}

.mr-68 {
  margin-right: 68px;
}

.mb-69 {
  margin-bottom: 69px;
}

.mt-69 {
  margin-top: 69px;
}

.ml-69 {
  margin-left: 69px;
}

.mr-69 {
  margin-right: 69px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mt-70 {
  margin-top: 70px;
}

.ml-70 {
  margin-left: 70px;
}

.mr-70 {
  margin-right: 70px;
}

.mb-71 {
  margin-bottom: 71px;
}

.mt-71 {
  margin-top: 71px;
}

.ml-71 {
  margin-left: 71px;
}

.mr-71 {
  margin-right: 71px;
}

.mb-72 {
  margin-bottom: 72px;
}

.mt-72 {
  margin-top: 72px;
}

.ml-72 {
  margin-left: 72px;
}

.mr-72 {
  margin-right: 72px;
}

.mb-73 {
  margin-bottom: 73px;
}

.mt-73 {
  margin-top: 73px;
}

.ml-73 {
  margin-left: 73px;
}

.mr-73 {
  margin-right: 73px;
}

.mb-74 {
  margin-bottom: 74px;
}

.mt-74 {
  margin-top: 74px;
}

.ml-74 {
  margin-left: 74px;
}

.mr-74 {
  margin-right: 74px;
}

.mb-75 {
  margin-bottom: 75px;
}

.mt-75 {
  margin-top: 75px;
}

.ml-75 {
  margin-left: 75px;
}

.mr-75 {
  margin-right: 75px;
}

.mb-76 {
  margin-bottom: 76px;
}

.mt-76 {
  margin-top: 76px;
}

.ml-76 {
  margin-left: 76px;
}

.mr-76 {
  margin-right: 76px;
}

.mb-77 {
  margin-bottom: 77px;
}

.mt-77 {
  margin-top: 77px;
}

.ml-77 {
  margin-left: 77px;
}

.mr-77 {
  margin-right: 77px;
}

.mb-78 {
  margin-bottom: 78px;
}

.mt-78 {
  margin-top: 78px;
}

.ml-78 {
  margin-left: 78px;
}

.mr-78 {
  margin-right: 78px;
}

.mb-79 {
  margin-bottom: 79px;
}

.mt-79 {
  margin-top: 79px;
}

.ml-79 {
  margin-left: 79px;
}

.mr-79 {
  margin-right: 79px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mt-80 {
  margin-top: 80px;
}

.ml-80 {
  margin-left: 80px;
}

.mr-80 {
  margin-right: 80px;
}

.mb-81 {
  margin-bottom: 81px;
}

.mt-81 {
  margin-top: 81px;
}

.ml-81 {
  margin-left: 81px;
}

.mr-81 {
  margin-right: 81px;
}

.mb-82 {
  margin-bottom: 82px;
}

.mt-82 {
  margin-top: 82px;
}

.ml-82 {
  margin-left: 82px;
}

.mr-82 {
  margin-right: 82px;
}

.mb-83 {
  margin-bottom: 83px;
}

.mt-83 {
  margin-top: 83px;
}

.ml-83 {
  margin-left: 83px;
}

.mr-83 {
  margin-right: 83px;
}

.mb-84 {
  margin-bottom: 84px;
}

.mt-84 {
  margin-top: 84px;
}

.ml-84 {
  margin-left: 84px;
}

.mr-84 {
  margin-right: 84px;
}

.mb-85 {
  margin-bottom: 85px;
}

.mt-85 {
  margin-top: 85px;
}

.ml-85 {
  margin-left: 85px;
}

.mr-85 {
  margin-right: 85px;
}

.mb-86 {
  margin-bottom: 86px;
}

.mt-86 {
  margin-top: 86px;
}

.ml-86 {
  margin-left: 86px;
}

.mr-86 {
  margin-right: 86px;
}

.mb-87 {
  margin-bottom: 87px;
}

.mt-87 {
  margin-top: 87px;
}

.ml-87 {
  margin-left: 87px;
}

.mr-87 {
  margin-right: 87px;
}

.mb-88 {
  margin-bottom: 88px;
}

.mt-88 {
  margin-top: 88px;
}

.ml-88 {
  margin-left: 88px;
}

.mr-88 {
  margin-right: 88px;
}

.mb-89 {
  margin-bottom: 89px;
}

.mt-89 {
  margin-top: 89px;
}

.ml-89 {
  margin-left: 89px;
}

.mr-89 {
  margin-right: 89px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mt-90 {
  margin-top: 90px;
}

.ml-90 {
  margin-left: 90px;
}

.mr-90 {
  margin-right: 90px;
}

.mb-91 {
  margin-bottom: 91px;
}

.mt-91 {
  margin-top: 91px;
}

.ml-91 {
  margin-left: 91px;
}

.mr-91 {
  margin-right: 91px;
}

.mb-92 {
  margin-bottom: 92px;
}

.mt-92 {
  margin-top: 92px;
}

.ml-92 {
  margin-left: 92px;
}

.mr-92 {
  margin-right: 92px;
}

.mb-93 {
  margin-bottom: 93px;
}

.mt-93 {
  margin-top: 93px;
}

.ml-93 {
  margin-left: 93px;
}

.mr-93 {
  margin-right: 93px;
}

.mb-94 {
  margin-bottom: 94px;
}

.mt-94 {
  margin-top: 94px;
}

.ml-94 {
  margin-left: 94px;
}

.mr-94 {
  margin-right: 94px;
}

.mb-95 {
  margin-bottom: 95px;
}

.mt-95 {
  margin-top: 95px;
}

.ml-95 {
  margin-left: 95px;
}

.mr-95 {
  margin-right: 95px;
}

.mb-96 {
  margin-bottom: 96px;
}

.mt-96 {
  margin-top: 96px;
}

.ml-96 {
  margin-left: 96px;
}

.mr-96 {
  margin-right: 96px;
}

.mb-97 {
  margin-bottom: 97px;
}

.mt-97 {
  margin-top: 97px;
}

.ml-97 {
  margin-left: 97px;
}

.mr-97 {
  margin-right: 97px;
}

.mb-98 {
  margin-bottom: 98px;
}

.mt-98 {
  margin-top: 98px;
}

.ml-98 {
  margin-left: 98px;
}

.mr-98 {
  margin-right: 98px;
}

.mb-99 {
  margin-bottom: 99px;
}

.mt-99 {
  margin-top: 99px;
}

.ml-99 {
  margin-left: 99px;
}

.mr-99 {
  margin-right: 99px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mt-100 {
  margin-top: 100px;
}

.ml-100 {
  margin-left: 100px;
}

.mr-100 {
  margin-right: 100px;
}

section.__container-custom {
  padding: 45px 80px;
}

section.__container-custom .portofolio-images__container {
  width: 100% !important;
}

section.__container-custom .portofolio-images__container img {
  width: 100%;
  border-radius: 15px;
}

section.__container-custom.portofolio {
  background: linear-gradient(150deg, #ffffff 50%, linear-gradient(to bottom, #d5ea37, #3fc1cc) 50%);
}

footer.__container-footer {
  padding: 106px 90px;
  background-color: #383838;
}

footer.__container-footer #map {
  height: 100%;
  border-radius: 15px;
}

.__body-section-about {
  background-color: #f7f72f;
  color: #383838;
  font-weight: bold;
}

.__container-education {
  background-color: #383838;
  color: #ffffff;
  padding: 80px;
}

.__container-education .__main-education-content {
  margin-bottom: 70px;
}

.__container-education .__main-education-content:last-child {
  margin-bottom: unset !important;
}

.__container-education .__main-education-content .__about-list-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.__container-education .__main-education-content .__about-list-items .__about-items {
  width: 250px;
  margin-right: 30px;
}

.__container-education .__main-education-content .__about-list-items .__about-items .__items-content {
  margin-top: 20px;
  font-size: 16px;
  text-align: left;
  font-weight: 400;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills {
  border: 1px solid #d6d6d6;
  width: 100%;
  height: 6px;
  margin-top: 27px;
  border-radius: 6px;
  background-color: #d6d6d6;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .progress-percent {
  margin-top: -24px;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress {
  background-color: #50ccc8 !important;
  height: 4px;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-1 {
  width: 1% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-2 {
  width: 2% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-3 {
  width: 3% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-4 {
  width: 4% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-5 {
  width: 5% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-6 {
  width: 6% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-7 {
  width: 7% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-8 {
  width: 8% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-9 {
  width: 9% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-10 {
  width: 10% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-11 {
  width: 11% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-12 {
  width: 12% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-13 {
  width: 13% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-14 {
  width: 14% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-15 {
  width: 15% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-16 {
  width: 16% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-17 {
  width: 17% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-18 {
  width: 18% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-19 {
  width: 19% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-20 {
  width: 20% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-21 {
  width: 21% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-22 {
  width: 22% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-23 {
  width: 23% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-24 {
  width: 24% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-25 {
  width: 25% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-26 {
  width: 26% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-27 {
  width: 27% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-28 {
  width: 28% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-29 {
  width: 29% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-30 {
  width: 30% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-31 {
  width: 31% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-32 {
  width: 32% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-33 {
  width: 33% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-34 {
  width: 34% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-35 {
  width: 35% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-36 {
  width: 36% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-37 {
  width: 37% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-38 {
  width: 38% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-39 {
  width: 39% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-40 {
  width: 40% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-41 {
  width: 41% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-42 {
  width: 42% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-43 {
  width: 43% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-44 {
  width: 44% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-45 {
  width: 45% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-46 {
  width: 46% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-47 {
  width: 47% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-48 {
  width: 48% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-49 {
  width: 49% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-50 {
  width: 50% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-51 {
  width: 51% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-52 {
  width: 52% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-53 {
  width: 53% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-54 {
  width: 54% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-55 {
  width: 55% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-56 {
  width: 56% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-57 {
  width: 57% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-58 {
  width: 58% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-59 {
  width: 59% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-60 {
  width: 60% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-61 {
  width: 61% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-62 {
  width: 62% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-63 {
  width: 63% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-64 {
  width: 64% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-65 {
  width: 65% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-66 {
  width: 66% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-67 {
  width: 67% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-68 {
  width: 68% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-69 {
  width: 69% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-70 {
  width: 70% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-71 {
  width: 71% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-72 {
  width: 72% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-73 {
  width: 73% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-74 {
  width: 74% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-75 {
  width: 75% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-76 {
  width: 76% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-77 {
  width: 77% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-78 {
  width: 78% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-79 {
  width: 79% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-80 {
  width: 80% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-81 {
  width: 81% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-82 {
  width: 82% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-83 {
  width: 83% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-84 {
  width: 84% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-85 {
  width: 85% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-86 {
  width: 86% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-87 {
  width: 87% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-88 {
  width: 88% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-89 {
  width: 89% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-90 {
  width: 90% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-91 {
  width: 91% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-92 {
  width: 92% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-93 {
  width: 93% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-94 {
  width: 94% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-95 {
  width: 95% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-96 {
  width: 96% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-97 {
  width: 97% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-98 {
  width: 98% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-99 {
  width: 99% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .progress-skills .filled-progress.percent-100 {
  width: 100% !important;
}

.__container-education .__main-education-content .__about-list-items .__about-items .circle-progress {
  height: 15px;
  width: 15px;
  background-color: #d6d6d6;
  border-radius: 50%;
  margin-left: 6px;
}

.__container-education .__main-education-content .__about-list-items .__about-items .circle-progress:first-child {
  margin-left: unset;
}

.__container-education .__main-education-content .__about-list-items .__about-items .circle-progress.filled {
  background-color: #50ccc8;
}

.__container-education .__main-education-content .__about-list-items .__about-items .circle-progress.half {
  height: 15px;
  width: 15px;
  background: #50ccc8;
  background: -webkit-gradient(linear, left top, right top, color-stop(52%, #50ccc8), color-stop(52%, #d6d6d6));
  background: linear-gradient(90deg, #50ccc8 52%, #d6d6d6 52%);
}

section.__container-portofolio {
  background: white;
  background: linear-gradient(130deg, white 52%, #d5ea37 53%, #3fc1cc 79%);
}

._navbar-custom {
  margin-left: 140px;
  margin-right: 140px;
}

._navbar-custom .navbar-brand {
  font-weight: 700 !important;
  font-size: 22px;
  color: #383838;
  font-weight: normal;
}

._navbar-custom .navbar-brand span {
  color: #50ccc8;
}

._navbar-custom .navbar-nav .nav-item {
  margin-right: 40px;
}

._navbar-custom .navbar-nav .nav-item a.nav-link {
  font-weight: 600;
  color: #383838;
  font-size: 18px;
}

._btn-primary {
  background-color: #383838 !important;
  border: unset;
  border-radius: 28px;
  color: #f7f72f;
  font-size: 18px;
}

.__btn-primary {
  background-color: #383838 !important;
  color: #f7f72f;
  border-radius: 10px;
  border: unset;
  font-weight: 700;
  font-size: 15px;
  padding: 20px 23px;
}

.__btn-primary.btn-yellow {
  background-color: #f7f72f !important;
  color: #383838 !important;
}

.__btn-primary.small-btn {
  width: 214px;
  border-radius: 34px;
}

.images-hero-container .hero-background {
  height: 900px;
}

.form-group-custom.form-group label {
  font-size: 14px;
  color: #f7f72f;
  position: absolute;
  background-color: #383838;
  padding: 0px 6px;
  margin-top: -11px;
  margin-left: 12px;
}

.form-group-custom.form-group .form-control {
  background-color: transparent !important;
  border: solid 1px #707070 !important;
  color: #ffffff;
}

.form-group-custom.form-group .form-control:focus {
  border: solid 1px #707070;
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
}
/*# sourceMappingURL=style.css.map */