$black: #383838;
$yellow: #f7f72f;
$aqua: #50ccc8;
$linear1: #3FC1CC;
$linear2: #d5ea37;

$linearColor: linear-gradient(to bottom, #d5ea37, #3fc1cc);

$colors:(
    'black': $black,
    'yellow': $yellow,
    'aqua': $aqua,
    'white': #ffffff
)