._navbar-custom{
    margin-left: 140px;
    margin-right: 140px;

    .navbar-brand{
        // font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
        @extend %helvetica-font;
        font-weight: 700 !important;
        font-size: 22px;
        color: $black;
        font-weight: normal;

        span{
            color: $aqua;
        }
    }

    .navbar-nav{
        .nav-item{
            a.nav-link{
                @extend %helvetica-font;
                font-weight: 600;
                color: $black;
                font-size: 18px;
            }

            margin-right: 40px;
        }
    }
}